<% include ./partials/header %>

    <div class="container">
        <h2>Edit Profile</h2>
        <div class="row">
            <div class="col s12 m10">
                <div class="card-panel">
                    <div class="card-content">
                        <form action="/settings" id="user-settings" method="POST" enctype="multipart/form-data">
                            <div class="user-acc">
                                <div>
                                    <div id="profile-container">
                                        <img id="profileImage" src="<%= currentUser.avatar %>" />
                                        <span>Change Avatar</span>
                                    </div>
                                    <input id="imageUpload" type="file" name="avatar" placeholder="Photo" capture>
                                </div>
                                <div class="gsd-btn">
                                    <a class="btn-flat disabled"><%= currentUser.earnings %> GSDs</a>
                                </div>
                                <div class="buy-gsd">
                                    <a class="waves-effect waves-light btn blue" href="#">Buy GSDs</a>
                                </div>
                            </div>
                            <div class="user-details">
                                    <% if (currentUser) { %>
                                        <h5><%= currentUser.username %></h5>
                                    <%}%>
                                <div class="input-field">
                                    <i class="material-icons prefix">mode_edit</i>
                                    <textarea class="materialize-textarea" name="status" placeholder="Your personal seeder network status"><%= currentUser.status %></textarea>
                                </div>
                                <div class="user-info">
                                    <table class="responsive-table">
                                        <tr class="input-field">
                                            <td>Date of birth:</td>
                                            <td><input type="date" name="dateOfBirth" value="<%= currentUser.dateOfBirth %>"></td>
                                        </tr>
                                        <tr class="input-field">
                                            <td>City:</td>
                                            <td><input type="text" name="state" value="<%= currentUser.state %>"></td>
                                        </tr>
                                        <tr class="input-field">
                                            <td>Profession:</td>
                                            <td><input type="text" name="occupation" value="<%= currentUser.occupation %>"></td>
                                        </tr>
                                    </table>
                                    <button type="submit" class="updateProfilebtn waves-effect waves-light btn green">Update profile</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

<% include ./partials/footer %>
<% include  ./partials/footerDashboard %>