<% include ../partials/header %>

<!-- <h1>this is the index page</h1>

<% seeds.forEach(function(seed) { %>

<div>
	<img src="<%= seed.image %>">
	<p><%= seed.author %></p>
	<p><%= seed.title %></p>
	<p><%= seed.created.toDateString() %></p>
	<p><%= seed.body %></p>
</div>

<% }); %> -->



<% include ../partials/footer %>