<% include ../partials/header %>
<div class="widget">
	<div class="voting-widget">
		<i id="upvote" class="material-icons">arrow_upward</i>
		<span id="voteCount">0</span>
		<i id="downvote" class="material-icons">arrow_downward</i>
	</div>
	<div class="earning">
		<span><img width="20" src="/asset/img/coins.svg"> <span class="seedEarnings"><%= seed.earnings %></span> <small>GSD</small></span>
		<div class="sow">
			<span class="close">X</span>
			<p>Sow a seed</p>
			<div>
				<img width="26" src="/asset/img/coins.svg">
				<input class="amount" type="number" min="0" placeholder="1">
				<button>Sow</button>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="section content-display">
		<div class="row">
			<div class="col s12">
				<% if ( currentUser && (currentUser.following.indexOf(seed.author.id)) !== -1 && !(seed.author.id.equals(currentUser._id)) ) { %>
					<form action="/unfollow-user" method="POST">
						<div class="row author-meta valign-wrapper">
							<div class="user-avatar">
								<img src="<%= seed.author.avatar %>" alt="" class="circle responsive-img">
							</div>
							<div>
								<span class="black-text">
									<input type="text" name="username" readonly value="<%= seed.author.username %>">
								</span>
								<br>
								<span class="grey-text">
									<%= seed.created.toDateString() %>
								</span>
							</div>
							<button type="submit" class="btn waves-effect waves-light right">Unfollow<i class="material-icons right">remove_circle_outline</i></button>
						</div>
					</form>
				<% } else if (currentUser && (currentUser.following.indexOf(seed.author.id)) === -1 && !(seed.author.id.equals(currentUser._id)))  { %>
					<form action="/follow-user" method="POST">
						<div class="row author-meta valign-wrapper">
							<div class="user-avatar">
								<img src="<%= seed.author.avatar %>" alt="" class="circle responsive-img">
							</div>
							<div>
								<span class="black-text">
									<input type="text" name="username" readonly value="<%= seed.author.username %>">
								</span>
								<br>
								<span class="grey-text">
									<%= seed.created.toDateString() %>
								</span>
							</div>
							<button type="submit" class="btn waves-effect waves-light right">Follow<i class="material-icons right">add_circle_outline</i></button>
						</div>
					</form>
				<% } else { %>
					<div class="row author-meta valign-wrapper">
						<div class="user-avatar">
							<img src="<%= seed.author.avatar %>" alt="" class="circle responsive-img">
						</div>
						<div>
							<span class="black-text">
								<%= seed.author.username %>
							</span>
							<br>
							<span class="grey-text">
								<%= seed.created.toDateString() %>
							</span>
						</div>
					</div>
				<% } %>
				
				<h3><%= seed.title %></h3>
				<div class="row featured-img" style="background: url(<%= seed.image %>); background-size: cover;">
				</div>
				<div class="row content-box">
					<%- seed.body %>
				</div>
				<% if (currentUser && seed.author.id.equals(currentUser._id)) { %>
					<div class="row valign-wrapper">
						<div>
							<a class="waves-effect waves-light btn btn-small" href="/seeds/<%= seed._id %>/edit"><i class="material-icons left">edit</i>Edit Seed</a>
						</div>
						<form class="delete-seed-btn" action="/seeds/<%= seed._id %>/delete?_method=DELETE" method="POST">
							<button class="waves-effect waves-light btn btn-small red" href=""><i class="material-icons left">delete</i>Delete Seed</button>
						</form>
					</div>
				<% } %>
				<div class="row">
					<div class="col s12">
						<p><strong>Responses</strong></p>
						<div class="card-panel add-comment">
							<div class="row">
							    <form class="col s12" action="/seeds/<%= seed._id %>/comments" method="POST">
							      	<div class="row">
							      		<div class="col s2">
							      			<div class="user-avatar text-center">
							      				<img class="circle responsive-img" src="<%= currentUser.avatar %>" alt="">
							      			</div>
							      		</div>
							        	<div class="col s10">
							        		<div class="input-field">
							        			<textarea id="new-comment" type="text" class="materialize-textarea" name="comment[text]"></textarea>
												<label for="new-comment">Write a response...</label>
							        		</div>
							        	</div>
							      	</div>
							      	<div class="row">
							      		<button class="btn waves-effect waves-light btn-flat" type="submit" name="action">Submit
    										<i class="material-icons right">send</i>
  										</button>
							      	</div>
							    </form>
							  </div>
						</div>

						<% seed.comments.reverse().forEach(function (comment) { %>
							<div class="card-panel comment">
								<div class="card-content">
									<div class="valign-wrapper">
										<div class="user-avatar">
											<img src="<%= comment.author.avatar %>" alt="" class="circle responsive-img">
										</div>
										<div class="comment-meta">
											<span class="black-text">
												<%= comment.author.username %>
											</span>
											<br>
											<span class="grey-text">
												<%= comment.created.toDateString() %> <%= comment.created.toLocaleTimeString() %>
											</span>
										</div>
									</div>
								</div>
								<p><%= comment.text %></p>
							</div>	
						<% }); %>
						
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<span class="hide url">/seeds/<%= seed._id %>/</span>

<% include ../partials/footer %>
<% include ../partials/footerShow %>